* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media screen and (max-width: 900px) {
    html {
      font-size: 50%; } }

body {
  font-family: "Lato",sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.7;
  color: #777;
  padding: 1rem; }
